@model List<ClienteModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-left">
    <h1 class="display-1">@ViewData["Title"]</h1>
    <p>Mantenimiento de Clientes</p>
</div>

<br /><br />


<div class="card">
    <div class="card-header">
        Nuevo Cliente
        <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-success"><i class="bi bi-pencil-fill"></i>+</a>
        <hr />
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>NIF</th>
                    <th>Domicilio</th>
                    <th>CP</th>
                    <th>Provincia</th>
                    <th>Pais</th>
                    <th>Fecha Alta</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Nif</td>
                        <td>@item.Domicilio</td>
                        <td>@item.Cp</td>
                        <td>@item.Provincia</td>
                        <td>@item.Pais</td>
                        <td>@item.Fecha_Alta</td>
 
                        <td>
                            <a asp-action="Editar" asp-controller="Mantenedor" class="btn btn-primary btn-sm" asp-route-IdCliente="@item.IdCliente"><i class="bi bi-pencil-fill"></i>Editar</a>
                            <a asp-action="Eliminar" asp-controller="Mantenedor" class="btn btn-danger btn-sm" asp-route-IdCliente="@item.IdCliente"><i class="bi bi-trash"></i>Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />    



    </div>
</div>


@Html.TextBox("nombre")
<input type="submit" value="Consultar" a asp-action="Consultar" asp-controller="Mantenedor" />